/* define variable  */
* {
    --primary: darkturquoise;
    --secondary: cyan;
}


body{
    display: grid;
    gap: 1rem;
    grid-template-areas:
    "header"
    "nav"
    "content"
    "footer"
}

body main, body nav{
    margin: 0 auto;
    width: calc(100% - 1rem);
}

@media (min-width: 700px) {
    body{
        grid-template-areas:
        "header header header" 
        "nav content content" 
        "nav footer footer";
        grid-template-columns: minmax(12rem, auto) 1fr;
    }

    body main, body nav{
        width: calc(100% - 3rem);
    }
}

header{
    grid-area: header;   
    background-color: var(--primary);
    height: 50px;
    width: 100%;
}


body + nav{
    grid-area:nav;
}

body + main{
    grid-area:content;
}


footer{
    grid-area:footer;
    margin: 8px;
}


body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    min-height: 100%;
}


button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
  }

  input:invalid {
    border: 2px dashed red;
  }


  a {
    background-color: var(--primary);
    padding: 5px;
    margin-bottom: 3px;
    display: inline-block;
  text-decoration: underline;
}
a:hover{
  text-decoration: none;
}