/* define variable  */
* {
    --primary: darkturquoise;
    --secondary: cyan;
}


h2{
    color: var(--hero-color);
}

main{
    display: grid;
    height: 100vh;
    width: calc(100% - 50px);
    grid-template-areas:
    "nav section"
    "footer footer"
}


header{
    grid-area: header;   
    background-color: var(--primary);
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    height: 50px;
    width: 100%;

    position: sticky;
    top: 0;

}


main nav{
    grid-area:nav;
    min-width: 200px;
    margin-right: -8px;
}

footer{
    grid-area:footer;
}
section{
    grid-area:section;
}


body {
    font-family: 'Courier New', Courier, monospace;
}



button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
  }
